@use 'base/reset';
@use 'base/typography';
@use 'themes/dawn';
@use 'themes/dusk';
@use 'themes/midnight';
@use 'components/cursor';
@use 'components/loader';
@use 'components/stage';
@use 'components/navbar';
@use 'components/chapters';
@use 'components/herbarium';
@use 'components/notes';


.dev-signature {
  color: inherit;
  transition: opacity 0.3s ease;
  &:hover {
    opacity: 1;
  }
}
